.header {
  width: 100%;
  height: 5rem;
  box-shadow: var(--shadow-1);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
